body{margin:0;background-color:#white;}
div.topnav{color:white;padding:12px;width:100%;position:fixed;z-index:1;top:0;background-color:#25292b;overflow-y:hidden;}
div.tnr{margin-right:24px;float:right;}
div.tnl{margin-left:4px;float:left;}
div.main{margin-left:12px;margin-right:12px;margin-top:80px;position:relative;}
div.field{margin:2px;padding-left:16px;padding-right:16px;padding-top:2px;padding-bottom:2px;background-color:#D0D0D0;}
a.tn{padding-top:24px;padding-bottom:24px;padding-left:12px;padding-right:12px;color:white;background-color:#00BFFF;font-size:24px;text-align:center;background-color:gray;text-decoration:none;}
a.tn:hover{color:black;background-color:#0074E8;}
a.main{padding:8;background-color:transparent;font-weight:bold;}
a.main:link{color:#0074E8;text-decoration:none;}
a.main:hover{text-decoration:underline;}
a.main:active{color:white;}
a.main:visited{color:#4682B4;text-decoration:none;}
code{font-size:150%}
code.scr{color:white;background-color:#33393B;padding-left:8px;padding-right:8px;padding-top:2px;padding-bottom:2px;margin:2px;}
